@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  height: calc((100% - 30px) / 2) !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #00000079);
  opacity: 1;
}

.bulletActive {
  background: #fff;
}

/* ChatBot Styles */
.cs-message {
  padding-left: 16px;
  padding-right: 16px;
}

.cs-message__content {
  background-color: #bfbfbf80;
  font-size: 16px;
  color: #504a4a;
  padding: 16px 16px;
  border-radius: 12px;
  border-top-left-radius: 4px;
  margin-bottom: 16px;
}

.cs-message--outgoing .cs-message__content {
  background-color: rgba(65, 137, 230, 0.26);
  font-size: 16px;
  color: #504a4a;
  border-radius: 12px;
  border-top-right-radius: 4px;
}

.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor {
  background-color: #4189e6;
  color: #ffffff;
}

.cs-message-input__content-editor[data-placeholder]:empty:before {
  color: #ffffff;
}

.cs-button--send {
  color: #4189e6;
}

@media screen and (max-width: 600px) {
  .swiperSlide {
    height: 300px !important;
  }
}